<div class="container">
  <div class="row">
    <h1>    <%= link_to 'Prismic', prismic_document_engine.root_path %></h1>
    <div class="col-12" style="background: <%= @background %>">
      <%= @code.html_safe %>
    </div>
  </div>
</div>
